<%- include('../partials/header.ejs', {
    title: 'Grabbit - Forgot password',
    styles: [
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css',
        'css/style.css'
    ]
}) %>

<div class="container">

    <div class="form-default form-forgot">

        <div id="logo">
            <img src="images/grabbitforgot.png" width="140" alt="">
        </div>
        <br>

        <!--Spinner to display while executing ajax request-->
        <div class="d-flex justify-content-center">
            <div id="reset-spinner" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!--Container for the request status notifier-->
        <div id="status-container"></div>

        <h1 id="serverResponse"></h1>
        <h3>Forgot password</h3>

        <form id="reset-form">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input id="email-input" class="form-control" type="email" name="email" required>
            </div>

            <button type="submit" id="reset-submit-btn" class="btn btn-outline-light">Send</button>
        </form>

        <div id="options">
            <span>
                <a href="/login">Go back</a>
            </span>
        </div>

    </div>

</div>


<%- include('../partials/footer.ejs', {
    scripts : [
        'https://code.jquery.com/jquery-3.5.1.js',
        'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js',
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'
    ]
}) %>

<script>

    //Hide spinner
    $("#reset-spinner").hide()
    
    //Make sure document has rendered fully
    $(document).ready(() => {

        //Catch the reset-form submit event
        $("#reset-form").on("submit", (event) => {

            //Prevent page from refreshing
            event.preventDefault()

            //Get email from input
            let email = $("#email-input").val()

            //Show spinner while ajax request is in progress
            $("#reset-spinner").show(250)

            //Execute the ajax request function
            sendAjaxRequest(email)

            //Hide spinner again
            $("#reset-spinner").hide(100)
        })
    })

    //Let's try to use ajax without jQuery here
    function sendAjaxRequest(email) {

        //Create ajax object
        const xhr = new XMLHttpRequest()

        //What to do once the request is loaded
        xhr.onload = () => {

            //Get request status code
            let status = xhr.status

            switch (status) {
                case 500:
                    showStatusMessage("Something went wrong internally!", false)         
                    break
                case 204:
                    showStatusMessage("No user with that email was found!", false)
                    break
                case 200:
                    showStatusMessage("Email with reset link has been sent to you!", true)
                    break
            }
        }

        xhr.open("POST", "/forgot")
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhr.send(`email=${email}`)
    }

    function showStatusMessage(text, isvalid) {
        $("#status-container").html(
        `<div class="alert alert-${isvalid == true ? "success" : "danger"}" role="alert">
            <span><img src="svg/form/${isvalid == true ? "check.svg" : "alert-triangle.svg"}" width="21px" height="21px">  ${text}</span>
         </div>`
        )
    }

</script>