<!--Include header and nav-->
<%- include("../partials/header.ejs", {
    title: "Grabbit - Login",
    styles: [
        "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
        "/css/style.css",
        "/css/dashboard.css",
        "https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
    ]
}) %>

<!--Include admin dashboard start-->
<%- include("../partials/admin/dashstart.ejs") %>

<div id="table-header-row" class="row no-gutters">
    <h1>Users</h1>
</div>

<table id="userTable" class="display">
</table>

<!--Include admin dashboard end-->
<%- include("../partials/admin/dashend.ejs") %>


<!--Include footer-->
<%- include("../partials/footer.ejs", {
    scripts : [
        "https://code.jquery.com/jquery-3.5.1.js",
        "https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js",
        "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
        "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    ]
}) %>

<script>
    $(document).ready(function () {

        //jQuery ajax request
        $.ajax({
            url: "/api/v1/users",
            method: "GET",
            contentType: "application/json"
        })
        .done((data) => {

            //Once the request has finished insert data into table
            $('#userTable').DataTable({
                aaData: data,
                columns: [
                    { title: "Username", data: "username" },
                    { title: "Email", data: "email" },
                    { title: "Firstname", data: "first_name" },
                    { title: "Lastname", data: "last_name" },
                    { title: "Role", data: "role" },
                    { title: "Active", data: "active" },
                    { title: "Created", data: "created_at" }
                ],
            })
        })
    })
</script>