	</div>
</div>
<!--End of main container-->

<footer id="footer">
	<div id="footer-content">
		&copy; Copyright 2020
		<a href="/">Grabbit.com</a>
	</div>
</footer>

<% if (typeof scripts !== 'undefined') { %>
<% scripts.forEach((script) => { %>
<script src="<%=script%>"></script>
<% }) %>
<% } %>

</body>
</html>