<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="svg/rabbit.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        <b>GRABBIT</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
                <a class="nav-link" href="#">Order food</a>
            </li>

            <!--If session is authenticated-->
            <% if (session.authenticated == true) { %>

            <li class="nav-item active">
                <a class="nav-link" href="/gchat">G-Chat <span class="pill badge badge-success">Beta</span> </a>
            </li>

            <% } %>

        </ul>

        <div class="form-inline my-2 my-lg-0">

            <!--If session.authenticated attribute is undefined -->
            <% if (session.authenticated == undefined) { %>

            <form action="/login" method="GET">
                <button id="auth-button" class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign in</button>
            </form>

            <!--Session is authenticated i.e user is logged in-->
            <% } else { %>

            <div class="user-sign">
                <span>
                    <p><%- session.user.username%> <img src="svg/form/person.svg"></p>
                </span>
            </div>

            <form action="/logout" method="GET">
                <button id="auth-button" class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign out</button>
            </form>

            <% } %>
        </div>

    </div>
</nav>