<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="svg/rabbit.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        <b>GRABBIT</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Place order</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <form action="/login" method="GET" class="form-inline my-2 my-lg-0">
            <button id="auth-button" class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign in</button>
        </form>
    </div>
</nav>