<%- include("partials/header.ejs", {
    title: "Grabbit - GChat",
    styles: [
        "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
        "/css/style.css",
        "/css/gchat.css"
    ]
}) %>

<!--Make space between nav and content-->
<div id="nav-margin-bottom-div"></div>

<!--Hidden input with username-->
<input hidden type="text" id="username-input" value="<%- session.user.username %>">

<!--Page main container-->
<div class="container">

    <!--Main chat container-->
    <div id="chat-container">

        <div id="chat">

            <!--Chat header div-->
            <div id="chat-header">
                <h3>GChat 1.0</h3>
            </div>

            <!--Middle row divs-->
            <div id="middle-row-div" class="row no-gutters">

                <!--Messages column div-->
                <div id="chat-messages-container" class="col-9">

                    <div id="chat-messages">
                        
                    </div>

                </div>

                <!--Users column div-->
                <div id="user-list-container" class="col-3">

                    <!--User list header div-->
                    <div id="user-list-header">
                        <span><h5>Users</h5></span>
                    </div>

                    <!--User list div-->
                    <div id="user-list">
                        
                    </div>

                </div>

            </div>

            <!--Start of chat message form-->
            <form id="message-form">

                <!--Row for message inputs -->
                <div id="chat-inputs-container" class="row no-gutters">
    
                        <!--Column for message input-->
                        <div class="col-9">
                            <input type="text" id="message-input" autocomplete="off" required>
                        </div>
        
                        <!--Column for submit button-->
                        <div class="col-3">
                            <button type="submit" id="message-button">Send</button>
                        </div>
    
                </div>

            </form>

        </div>

    </div>

</div>




<%- include("partials/footer.ejs", {
    scripts : [
        "https://code.jquery.com/jquery-3.5.1.js",
        "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
        "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js",
        "js/gchat_client.js"
    ]
}) %>

