<%- include('partials/header.ejs', {
    title: 'Grabbit - Forgot password',
    styles: [
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css',
        'css/style.css'
    ]
}) %>


<div class="container">

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Hungry, got no time to wait?</h1>
            <p class="lead my-3">Are you tired of waiting in line at the local cafeteria? <br> Then order with us. We'll
                make sure they have your food order ready, all you have to do is grabbit. <b>*ba-dum-tssh*</b>
            </p>
            <p class="lead mb-0"><a href="/signup" class="text-white font-weight-bold">Sign up here...</a></p>
        </div>
        <div id="index-carrot-container">
            <img id="index-carrot" src="svg/carrot.svg" width="300" height="300" loading="lazy">
        </div>
    </div>

</div>




<%- include('partials/footer.ejs', {
    scripts : [
        'https://code.jquery.com/jquery-3.5.1.js',
        'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js',
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'
    ]
}) %>