<%- include('partials/header.ejs', {
    title: 'Grabbit - Home',
    styles: [
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css',
        '/css/style.css'
    ]
}) %>

<!--Make space between nav and content-->
<div id="nav-margin-bottom-div"></div>

<div class="container">

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome <%- session.user.username %>,<br>Ready to order?</h1>
        </div>
        <div id="index-carrot-container">
            <img id="index-carrot" src="svg/carrot.svg" width="300" height="300" loading="lazy">
        </div>
    </div>

</div>


<%- include('partials/footer.ejs', {
    scripts : [
        'https://code.jquery.com/jquery-3.5.1.js',
        'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js',
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'
    ]
}) %>