<%- include('./partials/header.ejs', {
    title: 'Grabbit - Stores',
    styles: [
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css',
        '/css/style.css',
        '/css/stores.css'
    ]
}) %>
<!--Octicons for star rating icons-->
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

<div id="main-container" class="container">

    <h1>Stores</h1>

    <div id="main-row" class="row no-gutters">
        <div id="left-col" class="col-4">
            <!--Search panel-->
            <div id="search-panel" class="card">

            </div>
        </div>
        <div id="right-col" class="col-8">
            
            <!--Store card-->
            <div class="store-card card shadow-sm">
                <div class="row no-gutters main-row">
                    <div class="store-image-col col-3">
                        <img class="rounded border" src="/images/stores/profile-images/kea16logo.jpg" width="100px" height="100px" alt="" srcset="">
                    </div>
                    <div class="store-description col-7">
                        <div class="description-upper-row">
                            <div class="store-title ellipsis">KEA 37</div>
                            <div class="store-address ellipsis">København, Lygten 37</div>
                            <div class="store-type ellipsis">Cafeteria</div>
                        </div>
                        <div class="description-rating">
                            <span class="iconify filled-star" data-icon="octicon:star" data-inline="false"></span>
                            <span class="iconify filled-star" data-icon="octicon:star" data-inline="false"></span>
                            <span class="iconify filled-star" data-icon="octicon:star" data-inline="false"></span>
                            <span class="iconify filled-star" data-icon="octicon:star" data-inline="false"></span>
                            <span class="iconify" data-icon="octicon:star" data-inline="false"></span>
                            <span class="iconify" data-icon="octicon:star" data-inline="false"></span>
                            <span id="ratings" class="ratings ellipsis">(134)</span>
                        </div>
                    </div>
                    <div class="store-order col-2">
                        <div class="row order-button-row no-gutters align-items-end">
                            <button class="order-button btn btn-warning">Order</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>



<%- include('./partials/footer.ejs', {
    scripts : [
        'https://code.jquery.com/jquery-3.5.1.js',
        'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js',
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'
    ]
}) %>