/* General */

#dashboard-container {
    height: calc(100% - 60px);
}

#middle-row {
    height: 100%;
}

/* Options panel column */

#options-panel {
    height: 100%;
    padding: 10px;
    background: rgb(195, 195, 195);
}

#options-panel hr {
    margin: 3px;
}

#dashboard-title-container {
    text-align: center;
}

#dashboard-title-container span {
    display: block;
}
#dashboard-title-container span .dashboard-title {
    display: inline-block;
    font-weight: bold;
}

/* Options panel navbar */

#dashboard-nav div.navbar-category {
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 2px;
}

#dashboard-nav .nav-item a {
    font-size: 17px;
    color: black;
    width: 260px;
    margin-left: 10px;
}

#dashboard-nav a.nav-link:hover { 
    color: black;
    background: rgb(214, 214, 214);
}

/* Main view column */

#main-view {
    padding: 10px;
    height: 100%;
    background: rgb(224, 224, 224);
}

/* jQuery Data tables */

#stores-table,
#users-table,
#products-table {
    width: 100%;
}