.container {
	background: whitesmoke;
	height: 100%;
}

.right-col {
	text-align: center;
}

#information-timestamps-container {
	margin-top: 15px;
}

#information-timestamps-container p {
	margin: 0px;
}

/* Danger zone card header */
div.card-header.bg-danger {
	color: white;
}