.container {
	padding-top: 20px;
	background: whitesmoke;
	height: 100%;
}

.right-col {
	text-align: center;
}

#information-timestamps-container {
	margin-top: 15px;
}

#information-timestamps-container p {
	margin: 0px;
}

/* Danger zone card header */
div.card-header.bg-danger {
	color: white;
}

.btn-icon {
	height: 32px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 32px;
}