<div class="container-fluid">
    
    <!--Wrapper for dashboard-->
    <div id="dashboard-container">

        <!--Main row-->
        <div id="main-row" class="row">
    
            <!--Left options panel-->
            <div id="options-panel" class="col-2">
                
                <div id="options-panel-header">
                    <span>ADMIN DASH <img src="/svg/gear.svg" height="30"></span>
                </div>

                <hr>

                <nav class="nav flex-column">

                    <!--Models-->
                    <div class="option-title">Models</div>
    
                    <a class="nav-link" href="/admin/dashboard/users">
                        <span><img src="/svg/organization.svg" height="20px"> Users</span>
                    </a>
    
                    <a class="nav-link" href="/admin/dashboard/stores">
                        <span><img src="/svg/globe.svg" height="20px"> Stores</span>
                    </a>
    
                    <a class="nav-link" href="/admin/dashboard/products">
                        <span><img src="/svg/tag.svg" height="20px"> Products</span>
                    </a>
    
                    <hr>
    
                    <!--Other options-->
                    <div class="option-title">Other options</div>

                    <div id="dash-bottom-text">Version 1.0</div>
                </nav>

            </div>
    
            <!--Main panel-->
            <div id="main-panel" class="col-10">